# OS / 에디터
.DS_Store
.vscode/

# Python
__pycache__/
*.pyc
*.pyo
.venv/
venv/

#학습데이터만 제외
# /뒤에 *를 안붙이면 폴더 자체를 무시해버리지만 *을 붙이면 하위폴더에 접근이 가능해짐
Training/*
# 하위경로를 열고 다시 닫음으로써 weights폴더만 접근
!Training/Gray_Train_Data/
!Training/Train_model/
!Training/Train_model/nail_segmentation*/
Training/Train_model/nail_segmentation*/*
!Training/Train_model/nail_segmentation*/weights/
!Training/Train_model/nail_segmentation*/weights/*.pt

# 손톱모양 crop데이터 외 나머지 제거
Fast Api/nail_shape/*
!Fast Api/nail_shape/fingers/
!Fast Api/nail_shape/fingers/**
!Fast Api/nail_shape/shapes.json

# 학습코드 제외(내 집컴에서만 학습가능)
!Training/train.py
!Training/test.py

# 엑셀파일 제외
손톱데이터셋목록.xlsx
손톱데이터셋목록.csv