# 세그멘테이션 모델파일 경로
MODEL_DIR=https://huggingface.co/mnemic/nails_seg_yolov8/resolve/main/nails_seg_s_yolov8_v1.pt

# 체커보드 규격 하드코딩
SQUARES_X=18
SQUARES_Y=26
SQUARE_MM=10.0
MARKER_MM=7.0
CAMERA_HEIGHT_MM=108.0
NAIL_HEIGHT_MM=0.0
